# Unity 生成文件（不需要上传）
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# VisualStudio
.vs/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj

# OS
.DS_Store
Thumbs.db

# JetBrains
.idea/

exe/
Assets/TextMesh Pro/
Assets/NuGet/